.deleteAccount-button{
  margin-top: 11%;
  background-color: #cc0000;
}

.deleteAccount-button-cancel{
  margin-top: 0%;
  background-color: #d7d0e3;
}

.deleteAccount-button-tag-cancel{
  color: black;
}
