.editPassword-button{
  background-color: #514b8b;
  margin-top: 4%;
}

.editPassword-button-cancel{
  background-color: #d7d0e3;
  margin-top: 0%;
}

.editPassword-button-tag-cancel{
  color: black;
}
