.editPassword-btn{
  background-color: #514b8b;
  margin-top: 4%;
}

.editPassword-btn-cancel{
  background-color: #d7d0e3;
  margin-top: 0%;
}

.editPassword-btn-text-cancel{
  color: black;
}
