
.login-join-box{
  width: 100%;
  margin: 0 auto;
}

.login-join{
  width: 100%;
  height: 15px;
  margin: 20% 0 4.3px 0;
  font-family: NanumBarunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.login-join-text{
  color: #fff;
  text-decoration: none;
  /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
}

