.SendQuestionForm-container{
  /* background-color: aquamarine; */
  width: 100%;
  max-width: inherit;
  height: 70px;

  position: fixed;
  top: 260px;

  margin-top: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

.SendQuestionForm-question-form {
  background-color:  #fff;
  width: 90%;
  max-width: 440px;
  height: 170px;

  border-radius: 26px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);

  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}

.SendQuestionForm-questionForm-box {
  display: flex;

  justify-content: center;
  
}

.SendQuestionForm-cursur-bar {
  width: fit-content;

  color: rgba(80, 8, 54, 0.78);
  margin: 24px 0 0 0;
  font-size: 21px;

}


.questionForm-textarea {
  resize: none;
  border: none;
  width: 85%;
  min-height: 75px;
  margin-top: 26px;
  
  font-family: NanumBarunGothic;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  /* color: rgba(80, 8, 54, 0.62); */
}

.questionForm-textarea::placeholder {
  font-family: NanumBarunGothic;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(80, 8, 54, 0.62);
}

.questionForm-textarea:focus {
  outline: none;
}

.SendQuestionForm-hr {
  width: 93%;
  height: 2px;
  border: none;
  background-color: #eaeaea;
}

.SendQuestionForm-footer {
  width: 90%;
  margin: 6px auto 9px auto;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.SendQuestionForm-hyperlink-btn {
  width: 18px;
  margin-top: -1px;
  margin-left: 5px;
}

.QuestionForm-hyperlink-input {
  width: 78%;
  height: 30px;
  border: none;

  font-size: 15px;
  font-weight: bold;
  line-height: 30px;

}

.SendQuestionForm-send-question-btn {
  border: none;
  background: none;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: -9px;
}

.SendQuestionForm-send-question-btn img {
  width: 25px;
}
