/* userInfoEdittag에는 왼쪽만 공간 놓고, 상하좌우 margin은 모두 input쪽에 넣는다. */

.userInfoEdit-tag {
  height: 17px;
  opacity: 0.87;
  font-family: NanumBarunGothic;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-left: 1%;
}

.userInfoEdit-box{
  /*전체 감싸기.*/
  width: 100%;
}
.userInfoEdit-box-in{
  /* 왼, 오 빈칸 남기고. padding에서 한 3+3=6% 뺀 94%  */
  width: 94%; 
  /* auto로 중간으로 맞추기 */
  margin: 0 auto;
  /* pw 변경 버튼 넣기 위해 */
  position: relative;
}

.userInfoEdit-input-user{
  /* padding 값 2개 뺀 거.*/
  width: 84%;
  height: 22px;
  margin: 13px 0 13px 0;
  padding: 15px 13% 14px 3%;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none;
  background-color: rgba(255, 255, 255, 0.35); 
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* 이것만 다름 */
  background-image: url("../../public/buttons/user.svg");
}
.userInfoEdit-input-id{
  /* padding 값 2개 뺀 거.*/
  width: 84%;
  height: 22px;
  margin: 13px 0 13px 0;
  padding: 15px 13% 14px 3%;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none; 
  background-color:rgba(255, 255, 255, 0.35); 
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* 이것만 다름 */
  background-image: url("../../public/buttons/info.svg");
}
.userInfoEdit-input-pw{
  /* padding 값 2개 뺀 거.*/
  width: 84%;
  height: 22px;
  margin: 13px 0 13px 0;
  padding: 15px 13% 14px 3%;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none;
  background-color: #7d84a8;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* 이것만 다름 */
  background-image: url("../../public/buttons/lock.svg");
}

.userInfoEdit-input-pw-edit-button{
  position: absolute;
  top: 45%;
  right: 3%;
  width: 42px;
  height: 28px;
  /* padding: 8px 10px 5px 11px; */
  border: none;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #434658;
}
.userInfoEdit-input-pw-edit-button-tag{
  width: 100px;
  height: 14px;
  margin: 0 0 1px 3px;

  font-family: NanumBarunGothic;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #c7cdeb;
}

.userInfoEdit-input-email{
  /* padding 값 2개 뺀 거.*/
  width: 84%;
  height: 22px;
  margin: 13px 0 13px 0;
  padding: 15px 13% 14px 3%;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none;
  background-color: rgba(255, 255, 255, 0.35); 
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  /* 이것만 다름 */
  background-image: url("../../public/buttons/at-sign.svg");
}
.userInfoEdit-input-icon{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
}

.userInfoEdit-button{
  width: 100%; 
  height: 52px;
  margin: 13px 0 13px 0;
  padding: 12px 19px 14px 15px;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none;
  background-color: #514b8b;
}


.userInfoEdit-button-tag{
  width: 50%;
  height: 22px;
  opacity: 0.77;
  font-family: NanumBarunGothic;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.userInfoEdit-delete-box{
  width: 100%;
  margin: 0 auto;
}

.userInfoEdit-delete{
  width: 100%;
  height: 15px;
  margin: 20% 0 4.3px 0;
  font-family: NanumBarunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.userInfoEdit-delete-tag{
  color: #fff;
  text-decoration: none;
  /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
}

