.userInfo-profile-pic-container {
  /* background-color: aquamarine; */
  height: 19%;
  margin-top: calc(100vh*0.13);
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo-btn{
  margin-top: 4%;
  background-color: #514b8b;
}

.userInfo-delete-box{
  width: 100%;
  margin: 0 auto;
}

.userInfo-delete{
  width: 100%;
  height: 15px;
  margin: 20% 0 4.3px 0;
  font-family: NanumBarunGothic;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.userInfo-delete-text{
  color: #fff;
  text-decoration: none;
  /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
}

