.view-more-btn-section{
  background-color: aqua;
  width: 200px;
  height: 40px;


text-align: center
}

.view-more-btn{
  width: 50%;
  font-family: NanumBarunGothic;
  font-size: 18px;
  line-height: 2.7rem;
  color: #fff;
  background-color: transparent;
  border: none;
}