a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 560px;
    height: 100vh;
    background-color: rgb(255, 249, 230);
    overflow-y: auto;
}
.card {
    margin-bottom: 20px;
}

.home-icon {
    width: 35px;
    height: 35px;
    float: left;
}

.home-icon > img {
    width: 35px;
    height: 35px;
}

.menu-icon {
    width: 35px;
    height: 35px;

}

.menu-icon > img {
    width: 35px;
    height: 35px;
}


/*################### right side modal ##################*/

.right .modal-dialog {
    position: fixed;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 0;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.right .modal-header button {
    margin-right: 0;
    margin-left: auto;
}

.right .modal-body {
    padding: 0;
}

.right .modal-body li div {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.right .modal-body ul {
    list-style: none;
    padding: 0;
}

.modal.fade.right .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.fade.right.show .modal-dialog {
    right: 0;
}

.right .modal-body li:hover{
    background-color: #dee2e6;
}

.right .modal-body a:hover {
    color: black;
}

.logout-button {
    width: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.size-fix-card {
    max-height: 60px;
    overflow: hidden;
}

.auto-scroll {
    overflow: auto;
}