<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/layout.css}" href="../../static/css/layout.css" rel="stylesheet">
    <link th:href="@{/css/user.css}" href="../../static/css/user.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="../../static/js/sidebar.js"></script>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar">
            <div class="container-fluid navbar-custom">
                <div class="home-icon" onclick="location.href='../home/unanswered.html'"
                     th:onclick="|location.href='@{/home/unanswered}'|">
                    <img src="../public/homeIcon.png" th:src="@{/public/homeIcon.png}">
                </div>

                <div type="button" class="menu" data-bs-toggle="modal" data-bs-target="#sideModal">
                    <img src="../../public/menu-icon.png" th:src="@{/public/menu-icon.png}">
                </div>
            </div>
        </nav>

        <!-- Modal -->
        <div class="modal fade right" id="sideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li><a th:href="@{/mypage/info}">
                                <div>마이페이지</div>
                            </a></li>
                            <li><a>
                                <div>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="logout-button" type="submit">
                                            로그아웃
                                        </button>
                                    </form>
                                </div>
                            </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <h2>탈퇴하기</h2>
    <br/>
    <h5>탈퇴하실 경우, 회원님의 링카 계정과 그동안 쌓인 질문과 답변들이 전부 즉시 사라집니다.</h5>
    <p>탈퇴하시겠습니까? 링카드는 울어요ㅠㅠ</p>
    <form th:action method="POST">
        탈퇴를 원하시면 비밀번호를 입력해주세요.
        <div class="col-12">
            <label for="password" class="form-label">비밀번호</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요">
            <i th:if="${param.passwordFalse}" th:text="'잘못된 비밀번호입니다.'"></i>
        </div>
        <div class="button-zone">
            <button class="w-30 btn btn-danger"
                    type="submit">탈퇴하기
            </button>

            <button class="w-30 btn btn-primary"
                    onclick="location.href='userInfo.html'"
                    th:onclick="|location.href='@{/mypage/info}'|"
                    type="button">계속 사용할래요!.
            </button>
        </div>
    </form>
</div>
</body>
</html>