.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: inherit;
  height: 13%;

  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: linear-gradient(#6979ae, #7680b2);
}

.header-blank {
  margin-top: 0;
}

.top-banner {
  height: 73px;
  margin-top: auto;
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  /* background-color: burlywood; */
}

.profile-pic {
  display: flex;
  margin-top: auto;
  margin-bottom: 21px;
}

.profile-pic img {
  border: 2px solid #f7cec6;
  border-radius: 100%;
}

