:root {
  --light-color: rgba(255, 255, 255, 0.35);
  --dark-color:  #7d84a8;
  --url-user: url("../../../public/buttons/user.svg");
  --url-id: url("../../../public/buttons/info.svg");
  --url-pw: url("../../../public/buttons/lock.svg");
  --url-email: url("../../../public/buttons/at-sign.svg");
}

.input-icon{
    /* padding 값 2개 뺀 거.*/
  width: 84%;
  height: 22px;
  margin: 13px 0 13px 0;
  padding: 15px 13% 14px 3%;
  border-radius: 9px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  display:inline-block;
}
.input-box-inner-transparent{
  display:inline-block;
  /* padding 값 2개 뺀 거.*/
  width: 73%;
  height: 22px;
  padding: 15px 3% 14px 3%;
  border-radius: 9px;
  /* box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16); */
  border: none;
  font-size: 20px;
  /* margin-right: 3%; */
  /* background-repeat: no-repeat; */
  /* background-position: 95% 50%; */
  background-color: transparent;
}
.input-icon-dark{
  background-color: var(--dark-color);
}
.input-icon-light{
  background-color: var(--light-color);
}
.input-transparent{
  background-color: transparent;
}
.input-icon-user-dark{
  background-color: var(--dark-color);
  background-image: var(--url-user);
}
.input-icon-id-dark{
  background-color: var(--dark-color);
  background-image: var(--url-id);
}
.input-icon-pw-dark{
  background-color: var(--dark-color);
  background-image: var(--url-pw);
}
.input-icon-email-dark{
  background-color: var(--dark-color);
  background-image: var(--url-email);
}
.input-icon-user-light{
  background-color: var(--light-color);
  background-image: var(--url-user);
}
.input-icon-id-light{
  background-color: var(--light-color);
  background-image: var(--url-id);
}
.input-icon-pw-light{
  background-color: var(--light-color);
  background-image: var(--url-pw);
}
.input-icon-email-light{
  background-color: var(--light-color);
  background-image: var(--url-email);
}

.input-icon-bar{
  width: 100px;
  height: 100px;
  margin: 0 0 0 3%;
  /* padding-bottom: 10px; */
  opacity: 0.63;
  font-family: NanumBarunGothic;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
